* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
body {
    font-size: 16px;
    color: #212121;
    background-color: #f7d51c;
    text-decoration: none;
}
.footer {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6a3d26;
    color: #f7d51c;
}
.nav {
    width: 100%;
    height: auto;
    display: flex;
    padding: 1rem;
    justify-content: end;
    background: rgb(247,213,28);
    background: linear-gradient(180deg, rgba(247,213,28,1) 35%, rgba(254,255,0,0) 100%);
}
.button {
    display: inline-block;
    font-size: 2rem;
    margin: 1rem;
    padding: 1rem 2rem 1rem 2rem;
    background-color: #6a3d26;
    color: #f7d51c;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: #f7d51c;
    border-radius: 0.5rem;
}
.poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: bolder;
    font-style: normal;
}  
.main_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.title_h1 {
    padding: 0.5rem 0.5rem;
}
.h1 {
    font-size: 3rem;
    -webkit-text-fill-color: #6a3d26;
    width: auto;
    text-align: center;
    align-self: center;
    margin: 1rem 1rem;
    -webkit-text-stroke: 0.05rem #ffffff;
    list-style: none;
}
.h1-2 {
    font-size: 3rem;
    -webkit-text-fill-color: #6a3d26;
    width: auto;
    text-align: center;
    align-self: center;
    margin: 1rem 1rem;
    list-style: none;
}
.h2 {
    font-size: 3rem;
    display: block;
    position: absolute;
    margin: 1rem  1rem;
}
.h3 {
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem;
}
.img_main {
    width: 60%;
    align-self: center;
}
.container_bg {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    background: url('../IMG/FLANDER-COIN-MEME-IMAG-LOGO-02-MINI.png') repeat top/5%;
    animation: moveUp 70s linear infinite;
}
/* BG IMG MOVING*/
@keyframes moveUp {
    0% {
        background-position: 0% 100%;
      }
      100% {
        background-position: 0% 0%;
      }
}
.container_rss {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}
.img_logo-rss {
    width: 80px;
    height: auto;
}
.container_info {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
.container_info-2 {
    background-color: #ffffff;
}
.container_info-3 {
    width: 100%;
    background: url(https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExZTh4dDJvaWZ0MnhxeDJscXFlMGk0amQ2eWFiNzBzeHhzcW5yemtlYSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/hGB5RMigOfkY0/giphy.gif);
    background-size: cover;
    background-position: center;
    height: 480px;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}
.info_img {
    width: 100%;
    height: auto;
}
.lista_ul {
    font-size: 2rem;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
}
.lista {
    width: 20%;
    height: auto;
}
.giphy-embed {
    width: 100%;
}
/* MOBILE CONF. MAX 600PX */
@media only screen and (max-width: 600px) {
    .nav {
        padding: 0.5rem;
        justify-content: end;
    }
    .title_h1 {
        font-size: 2rem;
        -webkit-text-fill-color: #6a3d26;
        width: auto;
        text-align: center;
        align-self: center;
        margin: 1rem 1rem;
        -webkit-text-stroke: 0.02rem #ffffff;
        list-style: none;
    }
    .img_main {
        width: 90%;
        align-self: center;
    }
    .container_bg {
        width: 100%;
        height: auto;
        position: relative;
        overflow: hidden;
        background: url('../IMG/FLANDER-COIN-MEME-IMAG-LOGO-02-MINI.png') repeat top/20%;
        animation: moveUp 40s linear infinite;
    }
    .button {
        display: inline-block;
        font-size: 1rem;
        font-weight: bold;
        padding: 1rem;
        background-color: #6a3d26;
        color: #f7d51c;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
    }
    .h2 {
        font-size: 1.5rem;
        display: block;
        position: absolute;
        margin: 1rem  1rem;
    }
    .lista_ul {
        font-size: 0.8rem;
        display: flex;
        align-items: baseline;
        justify-content: space-evenly;
    }
    .container_info-3 {
        width: 100%;
        background: url(https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExZTh4dDJvaWZ0MnhxeDJscXFlMGk0amQ2eWFiNzBzeHhzcW5yemtlYSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/hGB5RMigOfkY0/giphy.gif);
        background-size: cover;
        background-position: center;
        height: 200px;
        padding: 0;
        margin: 0;
        background-color: #ffffff;
    }    
}